{% extends "base.html" %} 
{% block page_name %}
    Search
{% endblock page_name %}
{% block content %}
    <div class="flex w-full items-center justify-center">
      {% if rooms %}
      <h3 class="font-medium p-2 mt-5">Results</h3>
      {% endif %}
    </div>

    <form method="get" action="{% url "rooms:search" %}">
      {{form.as_p}}
      <div class="w-20 h-10 bg-green-300 flex justify-center items-center rounded ">
        <button>Search</button>
      </div>
    </form>

    <div class="container flex justify-center items-center">
      {% for room in rooms %}
      <a href="{{room.get_absolute_url}}" class="mt-5 hover:bg-green-100"><h3>{{room.name}}</h3></a>
      {% endfor %}  
    </div>


    {% if not rooms%}
    <div class="flex justify-center mt-10">
      <h3 class="font-bold justify-content">No results found</h3>
    </div>
    {% endif %}
    
{% endblock content %}
