@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-6 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
  &:hover {
    @apply border-gray-600;
  }
}

.btn {
  @apply w-full text-lg text-center rounded-sm py-5 font-light;
}

.btn-link {
  @apply w-full text-lg text-center py-5 font-light text-white bg-red-500 rounded-lg;
}

input, textarea {
  @apply w-full text-lg rounded-sm py-5 font-medium border border-gray-500 px-5 text-left;
  &:focus{
    @apply outline-none focus:border-green-500;
  }
}

textarea {
  resize: none;
  height:100px;
}
select {
  height: 50px;
  font-size:10px;
  @apply w-full text-lg rounded-sm py-2 font-light border border-gray-500 px-2 text-left mb-2;
}

form {
  input {
    @apply mb-3;
  }
  .has_error {
    input {
      @apply bg-red-200 border-gray-400;
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-150px);
  }
}

.message {
  animation: messageFadeIn 3s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-400;
  }
  &.success {
    @apply bg-green-400;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

.border-section {
  @apply border-b border-gray-300 pb-10 mb-10;
}

.cal-grid {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

@tailwind utilities;
