<form method="post", class="w-full">
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
    {% endif %}
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
    {% endif %}
    <button class="btn bg-red-500 text-white">{{cta}}</button>
</form>