{% extends "base.html" %} 
{% block page_name %}
Update Profile
{% endblock page_name %}
{% block content %}
    <div class="container mx-auto lg:w-1/4 md:1/2 xl:2/5 my-10 flex-col flex items-center border p-6 border-gray-400">
        
        {% include "mixins/profile_form.html" with form=form cta="Update profile"%}
        {% if user.login_method == "email"%}
        <div class="mt-5">
            <a href="{% url "users:password" %}" class="font-bold text-green-500">비밀번호 변경</a>
        </div>
        {% endif %}
    </div>
{% endblock content %}
